<h1 id="pageTitle">Design Patterns</h1>
<p>Design patterns are grouped into the categories:</p>
<div style="border: solid 1px black; padding-left: 10px; border-radius: 10px">
    <h3>Behavioral Patterns</h3>
    <div>
        <button type="button" class="btn btn-primary" style="width: 250px" ng-click="testStatePattern()">State Pattern</button>
        {{statePattern}}
        <br/>
    </div>
    <div>
        <br />
        <button type="button" class="btn btn-primary" style="width: 250px" ng-click="testNullObjectPattern()">Null Object Pattern</button>
        {{nullObjectPattern}}
        <br/>
    </div>
    <div >
        <br />
        <button type="button" class="btn btn-primary" style="width: 250px" ng-click="testObserverPattern()">Observer Pattern</button>
        {{observerPattern}}
        <br/>
    </div>
    <br />
</div>
<br/>
<div style="border: solid 1px black; padding-left: 10px; border-radius: 10px">
    <h3>Structural Patterns</h3>
    <div >
        <br/>
        <button type="button" class="btn btn-primary" style="width: 250px" ng-click="testBridgePattern()">Bridge Pattern</button>
        {{bridgePattern}}
        <br/>
    </div>
    <br />
</div>
<br/>
<div style="border: solid 1px black; padding-left: 10px; border-radius: 10px">
    <h3>Creational Patterns</h3>
    <br />
    <br />
</div>
<br/>
